.profile-header{
    background-color: #5d4cff;
    color: white;
    padding: 1rem 4rem;
}
.profile-header nav ul{
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
    list-style-type: none;
}
.profile-header nav ul li{
    padding: 0.7rem 3rem;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.selected{
    background-color: white;
    color: #5d4cff;
}

@media(max-width:550px){
    .profile-header h1{
        font-size: 1.3rem;
    }
    .profile-header nav ul{
        margin-top: 2rem;
    }
    .profile-header nav ul li{
        font-size: 0.9rem;
    }
}
@media(max-width: 400px){
    .profile-header{
        padding: 1rem ;
    }
}