.post{
    border: 1px solid darkgray;
    border-radius: 12px;
    width: 65%;
    margin: 0.9rem auto;
    height: 5rem;
    padding: 2rem;
    background-color: #f7f7f7;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.post h3{
    font-size: 2.5rem;
}
.post span{
    font-size: 0.85rem;
    font-weight: 600;
    text-wrap: nowrap;
}
@media(max-width: 835px){
    .post h3{
        font-size: 1.7rem;
    }
}
@media(max-width: 580px){
    .post h3{
        font-size: 1.3rem;
        margin: 0.7rem 0;
    }
}
@media(max-width: 500px){
    .post{
        width: 95%;
        padding: 1rem 0.5rem;
        margin: 0.5rem 0;
    }
    .post h3{
        font-size: 1.1rem;
    }
}