.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 6rem;
    color: #5d4cff;
    padding-right: 7rem;
}
.nav-links{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.nav-links a{
    text-decoration: none;
    color: #5d4cff;
}
.navbar .logo a{
    font-family: cursive;
    font-size: 0.95rem;
    text-decoration: none;
    color: #5d4cff;
}
.navbar .nav-links button{
    width: 4rem;
    height: 2rem;
    margin-top: -1rem;
    border: none;
    border-radius: 12px;
    background-color: #5d4cff;
    color: white;
    cursor: pointer;
}
