.open-post{
    display: flex;
    flex-flow: column;
    gap: 2rem;
    padding: 1rem 4rem;
    color: #5d4cff;
    border: 3px solid #5d4cff ;
    border-radius: 30px;
    margin: 1rem 4rem;
}
.open-post h1{
    font-size: 2.7rem;
}
.open-post p{
    font-size: 1.1rem;
    font-family: monospace;
    justify-content: justify;
    line-height: 1.35rem;
}
.open-post span{
    font-size: 0.9rem;
    text-align: right;
}
.open-post button{
    background-color: #5d4cff;
    color: white;
    border: none;
    width: 7rem;
    height: 3rem;
    border-radius: 12px;
    cursor: pointer;

}
@media(max-width: 1020px){
    .open-post h1{
        font-size: 2rem;
    }
}
@media(max-width:750px){
    .open-post{
        margin: 1rem;
        padding: 1rem 1.5rem;
    }
    .open-post h1{
        font-size: 1.3rem;
    }
    .open-post p{
        font-size: 1rem;
    }
}
@media(max-width: 450px){
    .open-post{
        margin: 0.5rem;
    }
    .open-post p{
        font-size: 0.85rem;
        line-height: 1.2rem;
    }
}
@media(max-width:400px){
    .open-post h1{
        font-size: 1.1rem;
    }
    .open-post span{
        font-size: 0.8rem;
    }
}