.update-profile{
    padding: 1rem 4rem;
    color: #5d4cff;
    /* position: relative; */
}
.update-profile form div{
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 2rem;
}
.update-profile input{
    width: 13rem;
    height: 1.1rem;
    padding: 0.5rem;
}
.update-profile form button{
    background-color: #5d4cff;
    color: white;
    border: none;
    border-radius: 20px;
    height: 3rem;
    width: 8rem;
    font-size: 1rem;
}
.update-success-msg{
    background-color: #8bff97;
    padding: 0.7rem;
    border-radius: 12px;
    color: #005804;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
.update-error-msg{
    background-color: #ff9274;
    padding: 0.7rem;
    border-radius: 12px;
    color: #560400;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
.delete-confirm-modal{
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-confirm-modal > div{
    width: 50%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    animation: show-modal 0.3s linear forwards;
}
.confirm-btns{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.confirm-btns button{
    /* width: 5rem; */
    padding: 1rem 2rem;
    height: 3rem;
    background-color: #5d4cff;
    color: white;
    border: none;
  
}
@keyframes show-modal{
    from{
        opacity: 0;
        transform: scale(0);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}